/* Box Model Hack */
*{
  box-sizing: border-box;
}

/*
================= Layout Styles =================
*/

html {
    font-size: 62.5%;
}

body {
    background: url("../img/galaxy.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
/*
================= Additional Styles =================
*/

#earth {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 52%;
}

.asteroid {
    position: absolute;
    /* width: 4rem;
    height: 4rem; */
    /* background: red; */
}

.asteroid-name {
    color: white;
    font-size: 1rem;
    min-height: 2rem;
    min-width: 2rem;
}