/* Box Model Hack */
*{
  box-sizing: border-box;
}

/*
================= Layout Styles =================
*/

html {
    font-size: 62.5%;
}

body {
    background: url("../img/galaxy.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
/*
================= Additional Styles =================
*/

#earth {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}

.asteroid {
    position: absolute;
    width: 4rem;
    height: 4rem;
    /* background: red; */
}